/* My Custom Styles,, These will override the template CSS */
.customMenuBtn {
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
}

.product-style-15 {
    background-color: transparent;
}
.product-style-15 .product-content {
    background-color: rgba(0,0,0,0.6);
}
.product-style-15 .product-content .title a {
    color: white;
}
.product-style-15 .product-content p {
    color: white;
}

#BurgerMenuLoginRegBtns{
    color: #4726CA;
}
#BurgerMenuLoginRegBtns i{
    display: block;
}


.product-style-7 .product-image .product-item img {
    max-height: 210px;
}
.product-style-14 .product-content .title a {
    font-size: 18px;
}

.product-style-17 .product-image {
    position: relative;
    width: 100% !important;
    height: 200px !important;
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}

.product-style-17 .product-content .main-btn {
    margin: 15px auto;
    font-weight: 700;
    letter-spacing: 0;
    bottom: 0;
    right: 15px;
    position: absolute;
}
.product-style-17 .product-content {
    position: relative;
    z-index: 5;
    padding: 20px 20px 25px;
    height: 200px;
}
.product-style-17 .product-content .title a {
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 30px;
    color: #000;
    transition: all 0.3s linear;
    margin-top: 4px;
}





/*================================ MEDIA QUERIES ======================*/
@media screen and (min-width: 0px) and (max-width: 992px) {
    #BurgerMenuLoginRegBtns { display: block; }  /* show it on small screens */

    .product-style-17 .product-content .title a {
        font-size: 1.7vw;
    }


}
@media only screen and (min-width: 768px) and (max-width: 991px){

    .product-style-17 .product-content {
        padding: 20px 15px 25px;
        height: 200px;
    }
}
@media (max-width: 767px) {
    .product-style-14 .product-content .title a {
        font-size: 20px;
    }
    .product-style-17 .product-content {
        padding: 20px 10px 25px;
        height: 170px;
    }
    .product-style-17 .product-content .title a {
        font-size: 3vw;
    }
}
@media screen and (min-width: 992px) {
    #BurgerMenuLoginRegBtns{ display: none; }   /* hide it elsewhere */
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .product-style-17 .product-content .title a {
        font-size: 1.7vw;
    }

}
/*======================================================================*/