/* My Custom Styles,, These will override the template CSS */
.customMenuBtn {
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
}

.product-style-15 {
    background-color: transparent;
}
.product-style-15 .product-content {
    background-color: rgba(0,0,0,0.6);
}
.product-style-15 .product-content .title a {
    color: white;
}
.product-style-15 .product-content p {
    color: white;
}

#BurgerMenuLoginRegBtns{
    color: #4726CA;
}
#BurgerMenuLoginRegBtns i{
    display: block;
}


.product-style-7 .product-image .product-item img {
    max-height: 210px;
}
.product-style-14 .product-content .title a {
    font-size: 18px;
}

.err, .suc {
    display: none;
}
.err { color: red;}
.suc { color: green;}




/*================================ MEDIA QUERIES ======================*/
@media screen and (min-width: 0px) and (max-width: 992px) {
    #BurgerMenuLoginRegBtns { display: block; }  /* show it on small screens */
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .product-style-14 .product-content .title a {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .product-style-14 .product-content .title a {
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
    #BurgerMenuLoginRegBtns{ display: none; }   /* hide it elsewhere */
}
/*======================================================================*/