<web-app xmlns= "https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation= "https://jakarta.ee/xml/ns/jakartaee
https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
version= "5.0"
metadata-complete= "false">

    <!-- =========== DB Connection =================== -->

    <!--==============================================-->

	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>org.iti.controllers.customer.CustomerProfileServlet</servlet-class>	
	</servlet>

	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreditCardServlet</servlet-name>
		<servlet-class>org.iti.controllers.customer.CreditCardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardServlet</servlet-name>
		<url-pattern>/CreditCardServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editprofile</servlet-name>
		<servlet-class>org.iti.controllers.customer.EditProfileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>editprofile</servlet-name>
		<url-pattern>/editprofile</url-pattern>
	</servlet-mapping>
<!--    CHECKOUT SERVLET-->
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>org.iti.controllers.CheckoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>


    <!-- Admin ProductDetails servlet -->
    <servlet>
        <servlet-name>AdminProductDetailsController</servlet-name>
        <servlet-class>org.iti.controllers.AdminProductDetailsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminProductDetailsController</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>



    <!--============Welcome FIle=============-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--=====================================-->
    <!--=====================Index Servlet===============-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.iti.controllers.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <!--================================================-->

    <!--=====================PROD DETAIL Servlet===============-->

    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>org.iti.controllers.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/shop/prod-detail</url-pattern>
    </servlet-mapping>
    <!--================================================-->

    <!--=====================Cart Edit==================-->

    <!--=================Filters========================-->

    <!-- ============ Cookie Filter ============== -->

    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>org.iti.controllers.filters.CookieFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TokenValidationFilter</filter-name>
        <filter-class>org.iti.controllers.filters.TokenValidationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TokenValidationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/shop</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/shop/prod-detail</url-pattern>
        <url-pattern>/shop/cartedit</url-pattern>
        <url-pattern>/cartedit</url-pattern>
        <url-pattern>/profile</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PageAuthFilter</filter-name>
        <filter-class>org.iti.controllers.filters.PageAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PageAuthFilter</filter-name>
        <url-pattern>/cartedit</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/editprofile</url-pattern>
        <url-pattern>/review_payment</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/editprofile</url-pattern>
        <url-pattern>/execute_payment</url-pattern>
        <url-pattern>/execute_payment_credit</url-pattern>
        <url-pattern>/shop/cartedit</url-pattern>
    </filter-mapping>

    <!--================================================-->


    <!--==============LISTENERS========================-->

    <listener>
        <listener-class>org.iti.controllers.listeners.ServletContextEventListener</listener-class>
    </listener>

    <!--================================================-->

    <!-- ============ Register servlet ============== -->

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.iti.controllers.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterValidationServlet</servlet-name>
        <servlet-class>org.iti.controllers.RegisterValidationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterValidationServlet</servlet-name>
        <url-pattern>/validateRegister</url-pattern>
    </servlet-mapping>

    <!-- ============ Login servlet ============== -->

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.iti.controllers.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- ===================== ADMIN SERVLETS ================================ -->

    <!-- AdminDashboard servlet -->
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>org.iti.controllers.AdminDashboardController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- AdminCustomers servlet -->
    <servlet>
        <servlet-name>AdminCustomersController</servlet-name>
        <servlet-class>org.iti.controllers.AdminCustomersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminCustomersController</servlet-name>
        <url-pattern>/admin/customers</url-pattern>
    </servlet-mapping>


    <!-- Admin CustomerProfile servlet -->
    <servlet>
        <servlet-name>AdminCustomerProfileController</servlet-name>
        <servlet-class>org.iti.controllers.AdminCustomerProfileController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminCustomerProfileController</servlet-name>
        <url-pattern>/admin/customers/profile</url-pattern>
    </servlet-mapping>


<!--    ================================================    -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                AdminPanel
            </web-resource-name>
<!--            <url-pattern>/admin.jsp</url-pattern>-->
            <url-pattern>/admin</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>


        <auth-constraint>
            <description>Only admins allowed</description>
            <role-name>admin2</role-name>
            <role-name>auth</role-name>
        </auth-constraint>

    </security-constraint>

    <security-role>
        <role-name>admin2</role-name>
        <role-name>auth</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/adminlogin.html</form-login-page>
            <form-error-page>/adminerr.html</form-error-page>
        </form-login-config>
        <realm-name>ecomm</realm-name>
    </login-config>

<!--    ================================================    -->

<!--=== ERROR PAGES ========================================-->
    <error-page>
        <error-code>404</error-code>
        <location>/404Err.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500Err.jsp</location>
    </error-page>
<!--=== ERROR PAGES END=====================================-->

    <resource-ref>

        <description>DB Connection</description>
        <res-ref-name>jdbc/ecomm</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>




</web-app>